.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #0056b3;
}

/* Main content header */
.main-content-header {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.main-content-header h2 {
  font-size: 24px;
  font-weight: 600; /* Slightly bolder text */
  color: #6c757d; /* Softer grey text */
  margin: 0;
  text-align: center;
}

.username {
  color: #007bff;
  font-weight: 600;
}
